ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    border: 2px solid #d4d9df;
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 3px;
    height: 100%;
    z-index: 300;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 0px;
}

div > p {
    padding-left: 30px;
}

li > p {
    white-space: pre-wrap;
}

a.date {
    position: relative;
    left: calc(-100% - 3em);
    float: right;
    margin-left: 1em;
    text-align: right;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.photo {
    border-radius: 50%;
    margin-bottom: 1em;
    height: 9em;
    max-height: 9em;
    max-width: 9em;
}

.left-bar {
    position: relative;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    margin-top: -6em;
}

.contact {
    flex: 0 0 100%;
    right: 0;
    margin-left: auto;
    white-space: nowrap;
}

i.contact {
    padding-right: 0.2em;
}

h3 {
    color: #606060;
}

@media print {
    a:link {text-decoration: none !important;}
    a[href]:after {content: none !important;}
}
